<div class="col-lg-6 col-xs-12" id="section-home">
  <div id="home" class="hero hero--scotch hero--scotch gradient--sunset">
    <div id="mask-home-left">
      <div id="logo-home-freelance">
        <div id="logo-slice-freelance"></div>
      </div>
      <div id="logo-home-slice">
        <div id="logo-slice-group"></div>
      </div>
    </div>
  </div>
</div>
