<div id="partial_asignation">
	<table class="table table-bordered table-responsive table-striped table-condensed" id="tablet">
	    <thead>
	      	<tr style="text-align: center;">
	          <th>DESCRIPTION</th>
	          <th>OBSERVATION</th>
	          <th>FACILITADOR</th>
	          <th>DATE CREATION</th>
	        </tr>
	    </thead>
	    <tbody>
	      <tr style="text-align: center;">
	        <td><%=asignation.description%></td>
	        <td><%=asignation.observation%></td>
	        <td><%=asignation.admin%></td>
	        <td><%=asignation.created_at%></td>
	      </tr>
	    </tbody>
  </table> 
</div>