#item-a{
  width: 45%;
  height: 100%;
  float: left;
  position: relative;
  border: 1px solid black;
  margin-left: 5%;
}

#item-b{
  width: 45%;
  height: 100%;
  float: right;
  position: relative;
  border: 1px solid black;
}


#item-c{
      width: 45%;
  height: 86%;
  float: left;
  position: relative;
  border: 1px solid black;
  margin-left: 5%;
  margin-top: 1%;
 
}

#item-d{
       width: 45%;
  height: 86%;
  float: left;
  position: relative;
  border: 1px solid black;
  margin-top: 1%;
  margin-left: 5%;
}


.center-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

#box-center {
  width: 100%;
  /* height: auto; */
  margin-top: 20px;
  text-align: center;
  position: relative;
}

#info {
  height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

#line{
  border-top: 1px solid black;
}
#info-client{
 
  height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
#logo-firm{
  width: 200px;
  height: 100px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}
#box-title-order{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

#box-title-info-item{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

#box-mask-slice{
  width: 65%;
  height: 100%;
  left: 50%;
  position: relative;
  height: 300px;
  opacity: 0.2;
  transform: translateX(-50%);
}


#box-title-responsable{

  width: 100%;
  position: relative;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 100px;

}

#client-a{
   height: 100%;
  width: 50%;
  position: relative;
  float: left; 
 
}

#client-b{
   height: 50%;
  width: 50%;
  position: relative; 
  float: right;
  top: 2px;
}
#client-c{
  height: 50%;
  width: 50%;
  position: relative;
  float: right;
  top: 2px;
}

#table-project{

  height: auto;
  width: 100%;
  position: relative;
 
}

#info-1 {
  height: 100%;
  width: 20%;
 
  position: absolute; 
 }

#info-2{
  width: 40%;
  height: 100%;
 
  position: absolute;
  margin-left: 20%;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

#info-3{
  width: 40%;
  height: 100%;
  
  position: absolute;
  margin-left: 60%;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

img#logo-slice{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}


img#logo-center{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  opacity: 0.5;
}


img#mask-logo{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

span.item-client{
  justify-content: initial;
  border-bottom: 1px solid black;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
 tr > th {
  text-align: center !important;
}
.table-bordered > tbody > tr > td{
  border: 1px solid black;
}
.table > thead:first-child > tr:first-child > th{
  border: 1px solid black;
}